@{
    ViewData["Title"] = "Hobby";
}

<h1>About My Hobby</h1>

<div class="description">
    <p>
        Hiking is one of my favorite pastimes. There's something truly special about hitting the trails and immersing oneself in nature. It's a chance to escape the chaos of everyday life and reconnect with the great outdoors.
    </p>
    <p>
        Whether it's a leisurely stroll through local parks or a challenging trek up steep mountain paths, every hike offers its own rewards. I enjoy the feeling of accomplishment as I reach a summit or discover a hidden waterfall along the way.
    </p>
    <p>
        Hiking also provides numerous health benefits, both physical and mental. It's a great way to stay active, improve cardiovascular fitness, and reduce stress levels. Plus, the sights and sounds of nature have a calming effect that can't be matched.
    </p>
</div>

<div class="image-gallery">
    <img src="~/laurenwebsite.jpg" height="400" />
    <img src="~/hiking2jpg.jpg" height="400" />
</div>

<nav>
    <a href="/Home/Calculator">Go to Calculator</a>
</nav>
